.container {
  margin: 70px auto 140px;
}

.title {
  text-align: center;
}

.room_name {
  text-align: center;
}

.back_link_container {
  margin-top: 20px;
}

.submit_form_button {
  margin-top: 20px !important;
  padding: 10px 20px !important;
}
